{% extends 'blog/base.html' %}
{% load markdownx %}
{% block content %}

<div class="intro">
  
  <div class="intro-left">
    {% autoescape off %}
      {{ intro.content }}
    {% endautoescape %}
  </div>

  <div class="intro-middle">
  </div>

  <div class="intro-right">

    <a href="https://www.linkedin.com/in/harlin-seritt/">
      <img class="intro-img" src="/static/img/linkedin.png">
    </a>

    <a href="https://twitter.com/HarlinAtWork">
      <img class="intro-img" src="/static/img/twitter.png">
    </a>

    <a href="https://github.com/hseritt">
      <img class="intro-img" src="/static/img/github.png">
    </a>

  </div>

</div>

<div class="body">

  <div class="vertical-block-50"></div>
  
  <h2 class="article-list-header">Latest Articles</h2>

  {% for article in article_list %}
    
    <div class="article-list">
      
      <p>
        <a id="{{ article.id }}" href="/blog/article/{{ article.slugged_title }}/"
        >
          {{ article.title }}
        </a>
      </p>
    
    </div>
  
  {% endfor %}

  <div class="vertical-block-50"></div>

  <h2 class="article-list-header">Recently Updated Articles</h2>

  {% for article in updated_article_list %}
    
    <div class="article-list">
      
      <p>
        <a id="{{ article.id }}" href="/blog/article/{{ article.slugged_title }}/"
        >
          {{ article.title }} ({{ article.modified }})
        </a>
      </p>
    
    </div>
  
  {% endfor %}

  <div class="vertical-block-50"></div>

  <h2 class="article-list-header">Articles by Category</h2>

  <style>
      .category-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat( auto-fit, minmax(110px, 1fr) );
        margin-bottom: 50px;
        grid-row-gap: 1.5em;
        grid-column-gap: 0.5em;
      }

      .category-btn {
        background-color: #6fc9f2;
        color: white;
        font-weight: bold;
        font-size: 12px;
        border: 0;
        /* background: none; */
        box-shadow: none;
        border-radius: 5px;
      }
  </style>

  <div class="category-wrapper">
  {% for category in categories %}
    <!--
    <div class="article-list">

      <h4>{{ category.name }} 
        
        <a id="display-link-{{ category.name }}" onclick="displayArticleList('{{ category.name }}')"
           style="cursor: pointer;">
          <span style="font-size:24px;">+</span>
        </a>
        
        <a id="undisplay-link-{{ category.name }}" onclick="undisplayArticleList('{{ category.name }}')"
           style="cursor: pointer; display: none;">
          <span style="font-size:24px;">-</span>
        </a>
      
      </h4>

      <div style="display:none;" id="articles-of-{{ category.name }}">
        {% for article in category.article_set.all %}
          
          <p>
            <a
              id="{{ article.id }}" href="/blog/article/{{ article.slugged_title }}/">
              {{ article.title }} ({{ article.modified }})
            </a>
          </p>

        {% endfor %}
      </div>
    </div>
    -->
  
    <div>
      <button onclick="displayArticleList('{{ category.name }}')" class="category-btn">
        {{ category.name }}
      </button>
    </div>
    
  {% endfor %}
  </div>

  <div class="category-article-list">
    {% for category in categories %}
      <div id="articles-of-category-{{ category.name }}" style="display:none;">
        {% for article in category.article_set.all %}
          <p>
            <a
              id="{{ article.id }}" href="/blog/article/{{ article.slugged_title }}/">
              {{ article.title }}
            </a>
          </p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="vertical-block-100"></div>

  <script>
    // With Links
    /*
    let displayArticleList = function(categoryName) {
      console.log('Calling displayArticleList ...');
      articleListDiv = document.getElementById("articles-of-" + categoryName);
      displayLink = document.getElementById("display-link-" + categoryName);
      undisplayLink = document.getElementById("undisplay-link-" + categoryName);
      articleListDiv.style.display = "";
      displayLink.style.display = "none";
      undisplayLink.style.display = "";

    };

    let undisplayArticleList = function(categoryName) {
      console.log('Calling undisplayArticleList ...');
      articleListDiv = document.getElementById("articles-of-" + categoryName);
      displayLink = document.getElementById("display-link-" + categoryName);
      undisplayLink = document.getElementById("undisplay-link-" + categoryName);
      articleListDiv.style.display = "none";
      displayLink.style.display = "";
      undisplayLink.style.display = "none";

    };
    */

    // With Buttons
    let displayedArticleDiv = "";

    let displayArticleList = function(categoryName) {
      console.log('Calling displayArticleList ...');
      articleListDiv = document.getElementById("articles-of-category-{{ categoryName }}" + categoryName);
      console.log('Our articleListDiv is ', articleListDiv);
      try {
        displayedArticleDiv.style.display = "none";
      } catch (err) {
        console.log('No properties set for displayedArticleDiv ....');
      }
      
      articleListDiv.style.display = "";
      displayedArticleDiv = articleListDiv;
    }
  </script>


  <!--
  {% for article in updated_article_list %}
    
    <div class="article-list">
      
      <p>
        <a id="{{ article.id }}" href="/blog/article/{{ article.slugged_title }}/"
        >
          {{ article.title }} ({{ article.modified }})
        </a>
      </p>
    
    </div>
  
  {% endfor %}
  -->

  <h2 class="article-list-header">All Articles</h2>

  {% for article in all_article_list %}
    
    <div class="article-list">
      
      <p>
        <a id="{{ article.id }}" href="/blog/article/{{ article.slugged_title }}/"
        >
          {{ article.title }}
        </a>
      </p>
    
    </div>
  
  {% endfor %}

  <div class="comments">
  </div>

</div>


{% autoescape off %}
  {{ bio.content }}
{% endautoescape %}

<div class="contact article">
  <a name="contact"
     class="anchor-link article-title">

    <div class="vertical-block-100"></div>
    
    <h2>Contact Me!</h2>

    {% autoescape off %}
      {{ contact_message.content }}
    {% endautoescape %}
  
  </a>

  <form action="" method="POST">
    
    {% csrf_token %}
    
    <p style="font-weight: bold;">
      Name
    </p>

    <input type="text" name="full_name" placeholder="Full Name" maxlength="30" required="true" />

    <p style="font-weight: bold;">
      Email Address (if you want me to write you back)
    </p>

    <input type="email" name="email" placeholder="Email Address" required="true">

    <p style="font-weight: bold;">
      Comment / Question / Suggestion
    </p>

    <textarea required="true" name="comment"></textarea>

    <br>

    <button>
      Send
    </button>
  
  </form>

</div>
{% endblock %}
