{% extends 'blog/base.html' %}
{% load markdownx %}
{% block content %}
<div class="intro">
  <div class="intro-left">
    {% autoescape off %}
      {{ intro.content }}
    {% endautoescape %}
  </div>

  <div class="intro-middle">

  </div>

  <div class="intro-right">
    <a href="https://www.linkedin.com/in/harlin-seritt/">
      <img class="intro-img" src="/static/img/linkedin.png">
    </a>

    <a href="https://twitter.com/HarlinAtWork">
      <img class="intro-img" src="/static/img/twitter.png">
    </a>

    <a href="https://github.com/hseritt">
      <img class="intro-img" src="/static/img/github.png">
    </a>
  </div>
</div>

<div class="body">
  
  <h2 class="article-list-header">Latest Articles</h2>

  {% for article in article_list %}
    <div class="article-list">
      <p>
        <a id="{{ article.id }}" href="/blog/article/{{ article.slugged_title }}/"
        >
          {{ article.title }}
        </a>
      </p>
    </div>
  {% endfor %}

  <h2 class="article-list-header">Recently Updated Articles</h2>

  {% for article in updated_article_list %}
    <div class="article-list">
      <p>
        <a id="{{ article.id }}" href="/blog/article/{{ article.slugged_title }}/"
        >
          {{ article.title }} ({{ article.modified }})
        </a>
      </p>
    </div>
  {% endfor %}

  <h2 class="article-list-header">All Articles</h2>

  {% for article in all_article_list %}
    <div class="article-list">
      <p>
        <a id="{{ article.id }}" href="/blog/article/{{ article.slugged_title }}/"
        >
          {{ article.title }}
        </a>
      </p>
    </div>
  {% endfor %}

  <div class="comments">
    
  </div>
</div>


{% autoescape off %}
  {{ bio.content }}
{% endautoescape %}

<div class="contact article">
  <a
        name="contact"
        class="anchor-link article-title"
      >
    <div class="vertical-block-100"></div>
    
    <h2>Contact Me!</h2>
  </a>

  <form action="" method="POST">
    {% csrf_token %}
    <p>
      Name
    </p>

    <input type="text" name="full_name" placeholder="Full Name" maxlength="30" />

    <p>
      Email Address (if you want me to write you back)
    </p>

    <input type="email" name="email" placeholder="Email Address">

    <p>
      Comment / Question / Suggestion
    </p>

    <textarea name="comment"></textarea>

    <br>

    <button>
      Send
    </button>
  </form>

</div>
{% endblock %}